<form method="get" action="/quizes/<%= quiz.id %>/answer">        
      <p>Genero: <strong><%= quiz.genero %></strong></p>
      <p>Pregunta: <strong><%= quiz.pregunta %></strong></p>
      <p>&nbsp;</p>
      <input type="text" name="respuesta" size="40" 
             placeholder="Respuesta" value=""/>
	<input type="submit" value="Enviar"/>
</form>
